
.vs/Telesync/v16/.suo
*.dll
Telesync/bin/Debug/MySql.Data.xml
.vs/Telesync/v16/.suo
.vs/Telesync/v16/.suo
.vs/Telesync/v16/.suo
Telesync/bin/Debug/Telesync.exe
Telesync/bin/Debug/Telesync.exe
Telesync/obj/Debug/Telesync.exe
*.cache
*.txt
Telesync/obj/Debug/Telesync.pdb
*.pdb
Telesync/obj/Debug/Telesync.exe
